// This stylesheet is only concerned with the styling of the markdown content in the blog posts.

#blog-content {
	h1 {
		font-size: 2.25rem;
		font-weight: 700;
		line-height: 1.75em;
		margin-bottom: 1rem;
		color: var(--headerColor);
	}

	h2 {
		font-size: calc(28 / 16 * 1rem);
		font-weight: 700;
		line-height: 1.5em;
		margin-bottom: calc(16 / 16 * 1rem);
		color: var(--headerColor);
		&[id] {
			scroll-margin-top: 8rem; /* adds margin top when scrolling down to a h2 header using a TOC link */
		}
	}

	h3 {
		font-size: calc(24 / 16 * 1rem);
		font-weight: 700;
		line-height: 1.5em;
		margin-bottom: calc(16 / 16 * 1rem);
		color: var(--headerColor);
	}

	h4,
	h5,
	h6 {
		font-size: calc(20 / 16 * 1rem);
		font-weight: 700;
		line-height: 1.5em;
		margin-bottom: calc(16 / 16 * 1rem);
		color: var(--headerColor);
	}

	p {
		font-size: calc(16 / 16 * 1rem);
		line-height: 1.6em;
		margin: 0;
		margin-bottom: calc(16 / 16 * 1rem);
		color: var(--bodyTextColor);
	}

	a {
		font-size: inherit;
		text-decoration: underline;
		color: var(--secondary);
	}

	ul,
	ol {
		margin: 0;
		margin: calc(16 / 16 * 1rem) 0;
		padding-left: calc(40 / 16 * 1rem);

		li {
			font-size: calc(16 / 16 * 1rem);
			line-height: 1.6em;
			list-style: circle;
			margin-bottom: calc(16 / 16 * 1rem);
			color: var(--bodyTextColor);
		}
	}

	img {
		width: 100%;
		height: auto;
		margin: calc(16 / 16 * 1rem) 0;
		border-radius: calc(8 / 16 * 1rem);
		display: block;
	}

	/* code blocks */
	pre {
		padding: calc(16 / 16 * 1rem);
		margin: calc(16 / 16 * 1rem) 0;
	}
}
