/*-- -------------------------- -->
<---          Sidebar           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
	.blog-sidebar {
		width: 100%;
		max-width: calc(795 / 16 * 1em);
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: calc(50 / 16 * 1em);
	}
	.blog-sidebar_widget-wrapper {
		width: 100%;
		padding: calc(20 / 16 * 1em) calc(16 / 16 * 1em);
		margin-bottom: calc(30 / 16 * 1rem);
		border: 1px solid #a2a0a0;
		border-radius: calc(8 / 16 * 1em);
	}

	.blog-sidebar_widget-header {
		font-size: calc(20 / 16 * 1em);
		font-weight: bold;
		text-align: center;
		margin-bottom: calc(16 / 16 * 1rem);
		color: var(--headerColor);
		display: block;
		position: relative;

		&:after {
			content: "";
			width: calc(50 / 16 * 1rem);
			height: 3px;
			margin: calc(16 / 16 * 1rem) auto;
			background: var(--headerColor);
			border-radius: calc(4 / 16 * 1rem);
			display: block;
			position: relative;
		}
	}

	.blog-sidebar_widget-link {
		text-decoration: none;
		width: 100%;
		padding: calc(20 / 16 * 1rem) 0;
		border-bottom: 1px solid #a2a0a0;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		column-gap: calc(24 / 16 * 1em);

		&:nth-of-type(1) {
			padding-top: 0;
		}

		&:last-of-type {
			padding-bottom: 0;
			border: none;
		}
	}

	.blog-sidebar_widget-image {
		width: calc(60 / 16 * 1em);
		height: calc(60 / 16 * 1em);
		border-radius: 50%;
		display: block;
		position: relative;
		overflow: hidden;
		flex: none;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	.blog-sidebar_widget-h4 {
		font-size: calc(14 / 16 * 1rem);
		font-weight: 700;
		line-height: 1.5em;
		text-decoration: none;
		margin: 0;
		margin-bottom: calc(4 / 16 * 1rem);
		color: var(--headerColor);
		display: block;
	}

	.blog-sidebar_widget-date {
		font-size: calc(14 / 16 * 1rem);
		line-height: 1.5em;
		color: var(--bodyTextColor);
		display: block;
	}
}

/* Tablet - 1024px */
@media only screen and (min-width: 64em) {
	.blog-sidebar {
		max-width: calc(360 / 16 * 1em);
		position: sticky;
		top: 10rem; /* magic number to align with the header */
	}

    .blog-sidebar_widget-wrapper {
		padding: calc(35 / 16 * 1em) calc(30 / 16 * 1em);
		margin-bottom: 0;
	}

    .blog-sidebar_widget-header {
        margin-bottom: calc(30 / 16 * 1rem);
    }
}

/* Dark Mode */
@media only screen and (min-width: 0em) {
	body.dark-mode {
		.blog-sidebar_widget-header {
			color: var(--bodyTextColorWhite);
	
			&:after {
				background: var(--primary);
			}
		}

		.blog-sidebar_widget-date {
			color: var(--bodyTextColorWhite);
			opacity: 0.8;
		}
	}
}



