---
/**
 * * Simplified CTA component using Astro's built-in Picture component
 **/

// Utils
import { Picture } from "astro:assets";

// Images
import ctaImage from "@assets/images/CTA/cabinets2.jpg";
---

<section id="map">
	<div class="container">
		</div>
</section>

<style lang="less">
	/* Mobile */
	^
</style>
